<div class="container-fluid">
  <div class="row card-shadow atualizar-card">
    <div class="form-area font-cadastrar">
      <h2 class="text-center mt-3">Tem certeza que deseja deletar esse Evento?</h2>
      <form>
        <div class="row p-3">
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Título:</label>
              <input
                type="text"
                class="form-control border border-warning border-r"
                id="titulo"
                name="titulo"
                [(ngModel)]="evento.titulo"
                disabled
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Descrição</label>
              <input
                type="text"
                class="form-control border border-warning border-r"
                id="descricao"
                name="descricao"
                [(ngModel)]="evento.descricao"
                disabled
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-data">
              <label for="data">Data:</label>
              <input
                type="date"
                class="form-control border border-warning border-r ml-2"
                id="data"
                name="data"
                [(ngModel)]="evento.data"
                disabled
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="participantes-estimados-wrapper">
              <h5>Estimativa de participantes necessários:</h5>
              <h5>{{ evento.postagens.length }}</h5>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-nao mr-4" routerLink="/evento"><span>Não</span>
            </button>
            <button class="btn btn-sim btn-outline-warning" (click)="apagar()"><span>Sim</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
