<div class="card card-shadow pr-2 pl-2" style="width: 80%; margin: 0 auto">
  <div class="card-body ">
    <h4 class="card-title">Próximos Eventos</h4>
    <div *ngFor="let evento of ordenaPorData(eventoService.eventos)">
      <div class="evento-area">
        <p class="pt-3 ">
          <i class="fa fa-circle-thin pr-2 font-size " aria-hidden="true"></i>{{ evento.descricao }}</p>
        <span class="pb-2 font-color">Data: {{ evento.data | date: "dd/MM/yyyy" }}</span>
      </div>
    </div>
  </div>
</div>
