<div class="container-fluid" >
        <img src="../../assets/img/pt1de8.png" alt="background">
        <img src="../../assets/img/pt2de8.png" alt="background">
        <img src="../../assets/img/pt3de8.png" alt="background">
        <img src="../../assets/img/pt4de8.png" alt="background">
        <img src="../../assets/img/pt5de8.png" alt="background">
        <img src="../../assets/img/pt6de8.png" alt="background">
        <img src="../../assets/img/pt7de8.png" alt="background">
        <img src="../../assets/img/pt8de8.png" alt="background">
</div>
