<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
            <img src="../../assets/img/logo.svg" alt="imagem_do_jorge" width="200px" height="36px" class="img-fluid">
        </li>
        
    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16">Home</a>
          </li>
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16">Sobre</a>
          </li>
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16 btn btn-outline-warning rounded-1">Cadastrar</a>
          </li>
    </ul>

</div>
  </nav>
