<div class="container-fluid background-color">
  <div class="row card-shadow atualizar-card ">
    <div class="form-area">
      <h1 class="text-center mt-3 font-dark-gray">Atualizar Informações</h1>
      <form>
        <div class="row p-3">
          <div class="col-md-12">
            <div class="form-group font-dark-gray">
              <label for="descricao">Título:</label>
              <input
                type="text"
                class="form-control border color-border border-r"
                id="titulo"
                name="titulo"
                [(ngModel)]="evento.titulo"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group font-dark-gray">
              <label for="descricao">Descrição</label>
              <input
                type="text"
                class="form-control border color-border border-r"
                id="descricao"
                name="descricao"
                [(ngModel)]="evento.descricao"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-data font-dark-gray">
              <label for="data">Data:</label>
              <input
                type="date"
                class="form-control border color-border border-r ml-2"
                id="data"
                name="data"
                [(ngModel)]="evento.data"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="participantes-estimados-wrapper font-light-gray">
              <h5>Estimativa de participantes necessários:</h5>
              <h5 class="mr-5" *ngIf="evento.postagens.length > 0">
                {{ evento.postagens.length }}
              </h5>
              <h5 *ngIf="evento.postagens.length === 0">0</h5>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around p-3">
          <button
            type="submit"
            class="btn button"
            (click)="atualizar()"
          >
            Atualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
