<div class="container-fluid">
  <div class="row card-shadow atualizar-card">
    <div class="form-area font-cadastrar">
      <h1 class="text-center mt-3">Atualizar Informações</h1>
      <form>
        <div class="row p-3">
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Título:</label>
              <input
                type="text"
                class="form-control border border-warning border-r"
                id="titulo"
                name="titulo"
                [(ngModel)]="evento.titulo"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Descrição</label>
              <input
                type="text"
                class="form-control border border-warning border-r"
                id="descricao"
                name="descricao"
                [(ngModel)]="evento.descricao"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-data">
              <label for="data">Data:</label>
              <input
                type="date"
                class="form-control border border-warning border-r ml-2"
                id="data"
                name="data"
                [(ngModel)]="evento.data"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="participantes-estimados-wrapper">
              <h5>Estimativa de participantes necessários:</h5>
              <h5>{{ evento.postagens.length }}</h5>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around p-3">
          <button
            type="submit"
            class="btn btn-warning btn-lg btn-block btn-cad"
            (click)="atualizar()"
          >
            Atualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
