<div class="container-fluid margem-card">
  <div class="row card-shadow p-3 mb-3">    
    <h2 class="h2-1  margem-txt"> Todas as Postagens do Evento:</h2>   
    <div>
      <hr>
    <div class="col-md-12 mt-1 d-flex align-items">     
      <div class="col-md-4">      
        <img class="img-detalhe-evento" src="{{ evento.imagem }}" alt="" />
      </div>
      <div class="col-md-8">
        <h5>Titulo:</h5>     
        <h6>{{ evento.titulo }}</h6>
        <h5>Descrição:</h5>
        <h6>{{ evento.descricao }}</h6>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let postagem of evento.postagens">
        <div class="card card-shadow mb-2" style="width: 100%">
          <div class="card-header">
            <div class="app-user-profile-wrapper">
              <div class="user-profile-picture-border normal-size">
                <div>
                  <img src="{{ postagem.usuario.foto }}" alt="foto usuario" />
                </div>
              </div>
            </div>
            <div class="card-header-user-info">
              <h5>{{ postagem.usuario.nome }}</h5>
              <small
                >{{ postagem.data | date: "dd/MM/yyyy" }} •
                <img src="../../assets/img/world.svg"
              /></small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{ postagem.descricao }}</p>
          </div>
          <div class="card-body-image-area">
            <img src="{{ postagem.foto }}" alt="foto postagem" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
