h1 {
  color: #FFC32D;
  font-weight: 800;
  font-size:xx-large;
}

h2 {
  color: #FFC32D;
  font-weight: 500;
  font-size:x-large;
}

.p-descricao {
  color: #696969;
  font-size:larger;
}

.p-evento {
  color: #696969;
  font-size:medium;
  font-weight: 400;
}

small {
  color: #696969;
}

.card-shadow {
  box-shadow: 5px 7px 11px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-yellow);
  border-radius: 1.25rem;
}

.card-body-image-area {
  height: 400px;
}

.card-body-image-area img {
  width: 100%;
  height: inherit;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.card-postagem-body {
  padding: 1rem;
}

.card-postagem-body p {
  font-size: 1.5rem;
}

.edit-delete-section {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.btn-editar {
  background-color: #FFC32D;
  width: 45%;
}

.btn-editar:hover {
  background-color: #e2a60e;
}

.btn-editar span {
  color: white;
  font-weight: 600;
}

.btn-editar span:hover {
  color: #e7e7e7;
}

.btn-excluir {
  width: 45%;
}

.btn-excluir span {
  font-weight: 600;
  color: #FFC32D;
}

.btn-excluir span:hover {
  color: white;
}
.font-introducao{
  color: #343a40;
}
.margem-card{
  margin-left: 25px;
}

