<div class="login-container mt-0" id="bg-img">
  
    <app-menu></app-menu>
  
  
  <div class="container-left">
    <div class="form-area">
      <h1>Login</h1>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="usuario"
          placeholder="DIGITE SEU EMAIL"
          selected
          [(ngModel)]="usuarioLogin.usuario"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="senha"
          placeholder="DIGITE SUA SENHA"
          [(ngModel)]="usuarioLogin.senha"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-main" [disabled]="usuarioLogin.senha == '' " (click)="entrar()">
          Entrar
        </button>
      </div>
      <p><a href="">Esqueceu sua senha?</a></p>
    </div>
  </div>
  <div class="container-right">
    <p>JANELA VIVA É UMA <span>REDE</span> </p>
    <p>QUE CONECTA <span>PESSOAS</span></p>
    <p>À <span>AÇÕES</span></p>
  </div>
</div>
<app-sobre></app-sobre>
