<div class="card card-shadow background-color">
  <div class="row d-flex justify-content-center mr-3 ml-1">
    <div class="col-xl-12 p-3">
      <h2 class="text-center">Quem está por aqui?</h2>
      <hr>
      <div class="row d-flex justify-content-center">
        <div *ngFor="let usuario of usuarios" class="col-md-1 mr-2 mt-4">
          <div class="user-profile-picture-border small-size">
            <img
              src="{{
                !checaStrImg(usuario.foto)
                  ? imgPlaceholder
                  : usuario.foto.trim()
              }}"
              alt="foto de usuário"
            />
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
