<div class="form-group">
  <input
    [(ngModel)]="postagem.descricao"
    type="text"
    class="form-control input-postagem"
    id="descricao"
    placeholder="Descrição da publicação"
  />
</div>
<div class="form-group">
  <input
    type="text"
    [(ngModel)]="postagem.foto"
    class="form-control"
    id="foto"
    placeholder="Insira link da imagem"
  />
</div>

<div class="form-group">
  <select
    name="evento"
    id="evento"
    class="form-control select-postagem"
    [(ngModel)]="idEvento"
    (change)="findByIdEvento()"
  >
    <option *ngFor="let item of listaEventos" value="{{ item.id }}">
      {{ item.descricao }}
    </option>
  </select>
</div>

<button type="button" class="button" (click)="publicar()">Publicar</button>
