<div class="container-fluid">
  <div class="row card-shadow atualizar-card">
    <div class="form-area font-cadastrar">
      <h1>Atualizar Postagem</h1>
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Descrição:</label>
              <input
                [(ngModel)]="postagem.descricao"
                type="text"
                class="form-control"
                id="descricao"
                placeholder="Digite a descricao"
                name="descricao"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="foto">Foto:</label>
              <input
                [(ngModel)]="postagem.foto"
                type="text"
                class="form-control"
                name="foto"
                id="foto"
                placeholder="Insira uma nova imagem"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Evento:</label>
              <input
                [(ngModel)]="postagem.evento.titulo"
                type="text"
                class="form-control"
                name="evento"
                id="evento"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around pb-5">
          <button
            type="submit"
            class="btn btn-warning btn-lg btn-block btn-cad"
            (click)="atualizar()"
          >
            Atualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
